.footer {
    background: url('../img/Night-Shuttle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -50px center;
    transform: scale(1.2);
    height: 70vh;
    display: flex;
    align-items: flex-end;


    .nav {
        justify-content: center;
        background: #1c1c1c;
        width: 100vw;

        a {
            color: #fff;
            margin: 10px
        }
    }
}

@media only screen and (max-width: 1024px) {
    .footer {
        background-position: center center;
        transform: scale(1)
    }
}

@media only screen and (max-width: 600px) {
    .footer {
        background-position: -420px center;
        transform: scale(1)
    }
}