@import url('https://fonts.googleapis.com/css?family=Audiowide');

.header {
    background: url('../img/Earth-Hour.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color: #fff;


    .navbar {
        img {
            width: 100px;
        }
    }

    .header-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    h1 {
        font-family: 'Audiowide', cursive;
    }
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}


.who_we_are {
    margin-top: 20px;
    max-width: 800px;
}

// .search_images {
//     column-count: auto;
//     column-width: auto;

//     img {
//         height: 200px;
//         margin: 5px
//     }
// }